<template id="dashboard">

    <div class="col">
    <h3> onReg </h3>
        <p>random linear regression problem</p>
        <form @submit.prevent="onSolve">
            <div class="form-group">
                <label for="features">Number of features: </label>
                <input v-model="problem.features" type="number" min="1" class="form-control " id="features"
                       placeholder="e.g. 10">
            </div>
            <div class="form-group">
                <label for="samples">Number of sample points: </label>
                <input v-model="problem.samples" type="number" min="10" class="form-control " id="samples"
                       placeholder="e.g. 100">
            </div>
            <button type="submit" class="btn btn-primary">Solve</button>
        </form>
    </div>
    <div class="col">
        <h3 v-if="solution"  style="text-align: center">Solution</h3>
        <br>
        <h5 style="text-align: center" v-for="sol in solution">[[sol.toString().slice(0,6)]]</h5>
    </div>

</template>
