<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Regression</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'regression/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">

</head>
{% include 'regression/regform.html' %}
{% include 'regression/sign_form.html' %}
<body id="app">
{% if auth %}
    <div id="auth-id"> 1</div>
{% else %}
    <div id="auth-id"> 0 </div>
{% endif %}
<nav class="navbar  fixed-top navbar-expand-lg navbar-dark " style="background-color: #2d2e29">
    <a class="navbar-brand" href="#">onReg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li v-if="isAuth" class="nav-item active">
                <a  class="nav-link" href="#">Dashboard</a>

            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#app">Register</a>
            </li>
            <li class="nav-item active ">
                <a  v-if="!isAuth" class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row ">
    <div class="col">
        <header>
            <div class="row">
                <div class="col">
                    <h2 class="header-title"> Online regression application</h2>
                    <p class="header-title">onReg is an app which solves linear and polynomial regression problems
                        effectively
                        and efficiently</p>
                </div>
            </div>
        </header>

    </div>
</div>

<section>
    <div class="row features ">
        <div class="col-lg-4">
            <i id="icon" class="fab fa-python fa-4x"></i>
            <h5>Python Based</h5>
            <p>Python implementation of optimization algorithms</p>
        </div>
        <div class="col-lg-4">
            <i id="icon" class="fas fa-network-wired fa-4x"></i>
            <h5>Distributed</h5>
            <p>Parallel and distributed computation on cluster computers</p>
        </div>
        <div class="col-lg-4">
            <i id="icon" class="fas fa-fast-forward fa-4x"></i>
            <h5>Fast</h5>
            <p>Efficient, fast, and reliable computation</p>
        </div>
    </div>

</section>

<section >
    <div class="row" id="myform">
        <div class="col-lg-6">
            <sign-in v-if="!isAuth"></sign-in>
        </div>
        <div class="col-lg-6">
            <reg-form v-if="!isAuth"></reg-form>


        </div>
    </div>
</section>

<footer class="my-footer">
    <h6>Designed and implemented by Alireza Olama.</h6>
    <div class="footer-icon">
        <a href="https://github.com/Alirezalm"> <i class="fab fa-github fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/alireza-olama-213a6a107/"> <i class="fab fa-linkedin-in fa-3x"></i></a>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
        integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/25821a399f.js" crossorigin="anonymous"></script>
<script src="{% static 'regression/app.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

</body>
</html>
