<template id="sign-in-form">
    <form @submit.prevent="onLogin">
        <div class="form-group">
            <label for="email-addr">Email Address: </label>
            <input v-model="userLogin.email" type="email" class="form-control" id="email-addr"
                   placeholder="email" required>
        </div>
        <div class="form-group">
            <label for="pass">Password: </label>
            <input v-model="userLogin.password" type="password" class="form-control" id="pass"
                   placeholder="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</template>
